  html {-webkit-text-size-adjust: 100%}

  body {
    background-image: url("../img/back.jpg");
    background-size: contain;
  }


  /*ナビ追加*/
  .nav_btn {
    display: none;
  }
  nav.global {
    background-color: rgba(255,255,255,0.1);
    border-radius: 4px;
  }
  nav.global:after {
    content: "";
    display: block;
    clear: both;
  }

  nav.global ul {
    position: relative;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    text-shadow: 1px 1px 1px #aaa;
  }

  nav.global li {
  /*  float:left; */
    list-style-type: none;
    display: -moz-inline-box;
    display: inline-block;
    /display: inline;
    /zoom: 1;

  }
  nav.global li a {
    display: inline-block;
    padding: 0.4em 1em;
    text-decoration: none;
    color: #fff;
/*
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    */
  }
  nav.global ul li a:hover {
  color: #777;
  }
  /*
  nav.global li:first-child a {
    border-left: 1px solid #ccc;
  }
*/
  @media screen and (max-width: 760px) {
    #main li figure {
      width: 100%;
      float: none;
      margin-right: 0;
    }
    /*ナビ追加*/
    .nav_btn {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    nav.global {
      position: fixed;
      top: 0;
      left: -40%;
      width: 40%;
      height: 100%;
      transition: .4s;
    }
    nav.global li {
      float: none;
      display: block;
    }
    nav.global li a {
      display: block;
    }
    .open nav.global {
      left: 0;
    }
  }


/* ------------------------------------------------------------------*/
  .top {
    width:70%;
/*    background-color: #FFFFFF; */
    background-color: rgba(255,255,255,0.1);
    padding: 1em 1px 300px 1px;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    max-width : 100% ;
    height : auto ;
  }

  .toptitle {
    text-shadow: 2px 2px 2px #aaa;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
  }
  .description {
    text-shadow: 1x 1px 1px #aaa;
    font-size: 1em;
    text-align: center;
    color: #ffffff;

  }
  /* ------------------------------------------------------------------*/
  .primg {
    border-radius: 4px;
    float:left;
    max-width : 100% ;
    width: 25%;
    height : auto ;
  }
  .content {
    float:right;
    color: #ffffff;
    padding: 10px 80px 1px 1px;
  }
  img:after {
    content:"test";
    display: block;
    clear: both;
  }

  .content ul li {
    display: block;
    list-style-type: none;
    padding: 2px;
  }
  /* ------------------------------------------------------------------*/

  .contact {
    color: #ffffff;
  }

  .link {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .link ul {
    float:left;
    position: relative;
    left: 50%;
  }
  .link ul li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    left: -60%;
    float:left:
  }
  .link ul li a:hover {
  color: #cccccc;
  }

  .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fa-5x {
    font-size: 5em;
  }

  .fa-fw {
    width: 1.2857142857142858em;
    text-align: center;
  }

  .fa-twitter {
    color: #ffffff;
  }
  .fa-youtube {
    color: #ffffff;
  }
  .fa-github {
    color: #ffffff;
  }
  .fa-bars {
    color: #ffffff;
  }
<<<<<<< HEAD
  .fa-comment-o {
    color: #ffffff;
  }
=======
>>>>>>> 3f84c6d176fe6d01631352adaa38ea4c34338ac5
  .fa:hover {
    color: #cccccc;
  }
